{% extends "bootstrap/base.html" %}

 
{% block styles %}
{{super() }}
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <!-- Custom styles for this template -->
    <link rel="stylesheet"
      href="{{url_for('.static', filename='scrolling-nav.css')}}">
 {% endblock %}
 
{% block content %}

 
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Building Time</title>


</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Title Placeholder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#intro">Intro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#predict">Predict</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>It's Building Time!</h1>
      <p class="lead">How soon can I get going on my home remodelling project?</p>
    </div>
  </header>

  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About this page</h2>
          <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
          <ul>
            <li>Clickable nav links that smooth scroll to page sections</li>
            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="predict" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Making an Prediction</h2>
                <form id='infoform' method='post' action='info_received' >
                  <p>
                    Text Description of Work: <textarea type='text' name='description' rows="4" cols="50">
                    Enter a brief description of your project
                    </textarea>
                      </p>
                      <p>
                    Estimate of Cost: <input type='text' name='cost' />
                    </p>
                    <p>
                    Single Line Address: <input type='text' name='address' />
                      </p>
                      <p>
                        Select your Neighborhood <select name= neighborhood method="GET" action="/">
                            {% for n in neighs %}
                            <option value= "{{n}}" SELECTED>{{n}}</option>"
                        {% endfor %}
                        </select>
                      </p>
                      <p>
                      Change in Number of Units?
                        <input type="radio"  name="units" value="0" checked>
                        <label for="no">No</label><br>
                        <input type="radio" name="units" value="1">
                        <label for="yes">Yes</label><br>
                      </p>
                      <p>
                    <input type='submit' value='Submit' />
                  </p>
                </form>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>How it Works</h2>
          <p class="lead">Here is where I insert the image for the flooow chart</p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Contact Wayland at wayland.minhas.singh@mg.thedataincubator.com</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Build Time is Now 2020</p>
    </div>
    <!-- /.container -->
  </footer>


</body>

</html>


{% endblock %}

{% block scripts %}
{{super() }}
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>
{% endblock %}